:root{
    --navbar-shift-time: 0.24s;
    --primary-color-dark: #600055;
    --primary-color-light: #ffffff;
    --primary-color-main: #161616;
    --secondary-color-dark: #003600;
    --secondary-color-light: #84ff84;
    --secondary-color-main: #3e923e;
}

body {
    background-color: var(--primary-color-main);
    border: 0;
    color: var(--primary-color-light);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0;
    min-height: 100vh;
    overflow-x:hidden;
    overflow-y: scroll; /*Stop bouncing around when switching pages*/
    padding: 0;
}

a {
    color: var(--secondary-color-light);
}

a:hover {
    color: var(--secondary-color-main);
}

a:focus {
    outline-color: var(--primary-color-light);
}

img {
    border-radius: 2%;
    max-width: 50vw;
}

.image {
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
    width: 20vw;
}

/* Header Styles */
header{
    align-items: center;
    background-color: var(--primary-color-dark);
    /* border-radius: 0 0 2.5vw 2.5vw; */
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    outline: 1px solid var(--secondary-color-dark);
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
}

header h1 {
    color: var(--secondary-color-light);
    font-size: 3rem;
    font-weight: bold;
    margin-left: 2vw;
    text-align: center;
}

iframe {
    width: 20vw;
    height: 12vw;
}

header h2 {
    color: var(--secondary-color-light);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2vw;
    text-align: center;
}

/* Nav Styles */
header nav {
    margin-right: 2vw;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav ul li {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

header nav ul li:first-child{
    padding-left: 0;
}

header nav ul li a{
    border-radius: 2.5vw;
    padding: 0.5rem;
    text-decoration:none;
}

/* Mouse moves off a Navbar Link*/
header nav ul li a:not(:hover) {
    background-color: var(--primary-color-dark);
    color: var(--secondary-color-light);
    transition: background-color var(--navbar-shift-time), color var(--navbar-shift-time);
}

/* Tabs/Mouse moves onto a Navbar Link*/
header nav ul li a:hover,
header nav ul li a:focus {
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
    transition: background-color var(--navbar-shift-time), color var(--navbar-shift-time);
}

/* Indicates Active Page, or a page was clicked*/
header nav ul li.active a, header nav ul li a:active {
    background-color: var(--secondary-color-light);
    color: var(--primary-color-dark);
}

/* Main Content Styles */
main {
    font-size: 1.2rem;
    padding: 0 25vw 0 25vw;
}

/* I should not have both of these */
main2 {
    font-size: 1.2rem;
    padding: 0 20vw 0 20vw;
}

.main2 {
    font-size: 1.2rem;
    padding: 0 20vw 0 20vw;
}

main .postlist {
    list-style-type: none;
}

/* Webring Styles */
.webring {
    align-items: center;
    background-color: var(--primary-color-dark);
    border-radius: 2.5vw;
    display: none;
    font-size: 1rem;
    justify-content: space-evenly;
    margin: auto 25vw 0.75vh 25vw;
    outline: 1px solid var(--secondary-color-dark);
    text-align: center;
}

/* Footer Styles */
footer{
    background-color: var(--primary-color-dark);
    border-radius: 2.5vw 2.5vw 0 0;
    display: flex;
    font-size: 1rem;
    justify-content:flex-end;
    margin-top: auto;
    outline: 1px solid var(--secondary-color-dark);
    width: 100%;
}

footer p{
    padding-right: 1rem;
}


/* Mobile */
@media only screen and (orientation: portrait) { 

    body {
        font-size:1.5rem;
    }

    header{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    header h1 {
        color: var(--secondary-color-light);
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 0;
        text-align: center;
    }

    header h2 {
        color: var(--secondary-color-light);
        font-size: 2rem;
        font-weight: bold;
        margin-left: 0;
        text-align: center;
    }

    header nav {
        justify-content: center;
        margin: 0;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        font-size: 2rem;
        font-weight: bold;
    }

    header nav ul li a{
        border-radius: 15%;
        padding: 0.25rem;
    }

    main{
        font-size: 1.5rem;
        padding: 0 6vw 0 6vw;
    }

    .main2 {
        font-size: 1.5rem;
        padding: 0 6vw 0 6vw;
    }

    .webring {
        font-size: 0.75rem;
        margin: auto 6vw 0.75vh 6vw;
    }

    iframe {
        width: 40vw;
        height: 24vw;
    }
}
